{%extends "services/layout2.html"%}
{% block body %}
<h1 ><center>CART</center><h1><br><br>
<div>
    <center>
        {%if text%}
        <h2 style= "color:red;">{{text}}</h2>
        {%endif%}
    </center>
</div>
<form class="form-control" id="form-submit" action="{% url 'menu'%}" method="POST">
    {%csrf_token %}
<fieldset>
    <center>
<label><b>ITEM<b></label><br>
    <select class="form-select form-select-sm" required name='itemname' onchange='this.form.()'>
        {%for a in list%}
        <option value="{{a}}">{{a}}</option>
        {%endfor%}
    </select><br><br>
<label><b>Quantity<b></label><br>
<input class="form-control" type="number" name="quantity" placeholder="quantity" minvalue=1></input><br><br>
<button type="submit" class="btn btn-primary">Add</button><br>
</center>
</fieldset>
</form>
{%endblock%}