{%extends "services/layout2.html"%}
{%block body%}
                <h2 ><center>Book Your Table Now</center></h2><br>
                <div>
                    <center>
                        {%if text%}
                        <h2 style= "color:red;">{{text}}</h2>
                        {%endif%}
                    </center>   
                </div>
                <form id="form-submit" action="{% url 'booking'%}" method="POST">
                    {%csrf_token %}
                    <fieldset>
                        <center>
                            <label style=><b>Name<b></label><br>
                            <input class="form-control" name="name" type="name"  placeholder="Full name" required><br><br>
                            <label><b>Date</b></label><br>
                            <input class="form-control" type="date" name="date" placeholder="date"></input><br><br>
                            <label><b>Time</b></label><br>
                            <input class="form-control" type="time" name="time" format='%H:%M'placeholder="time"></input><br><br>
                            <label><b>Table Number<b></label><br>
                            <select class="form-select" required name='tableno' onchange='this.form.()'>
                                    <option value="">Select tableno</option>
                                    {%for table in dict1%}
                                    <option value="{{table.tableno}}">{{table.tableno}}</option><br>
                                    {%endfor%}
                            </select><br><br>
                            <button class="btn btn-primary" type="submit" >Book Table</button><br><br>
                        </center>
                    </fieldset>
                </form>

{%endblock%}